<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{foto.lugar}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Esta foto cuenta con {{foto.amors}} de amor</h3>
  <ion-card>
    <img src="{{foto.foto}}" />
    <ion-card-content>
      <p>
        {{foto.descripcion}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>